/*Seudo selecotres : root, introduces los colores que vas a ocupar mas adelante en la creaion de codigo */
/*los rem son medidores de medida para el tamaño */
:root {
     --claro: #96AAF7; /*propiedad personalizada */
     --Oscuro: #243575;
     --agris: #485175;
     --normal: #3C57C2;
     --base: #022360;
     --fuentePrincipal: 3.8rem; /*Se puede seleccionar el tamañanao de texto desde aqui */
}

html{
    font-size: 62.5%; /*Se reinicia el tamaño del documento para poder trabajar de manera mas sencilla con los rem */
}

body{
    font-size: 16px; /* 1rem= 20px, se colocan para poder trabajar de manera sencilla con los rem */ 
    font-family: Arial, Helvetica, sans-serif;
    }


    h1.titulo{ /* Configuracion del diseño en h1 en codigo css, el punto funciona para hacer clases  */ 
        text-align: center; /*Propiedad : Valor en css*/ 
        color: blue; 
        font-size: 1.3rem;
        /* ------------------------------------ Cambiar fuente de el texto -------------------------------------------------------- */
        /* font-family: 'Bungee Spice', cursive; */
        font-weight: 1200; /*400=normal, bold= 700*/
    }
 
        .titulo span { /*Entre mas especifico sea va a tener mas importante  a no ser que tenga la etiqeuta important */ 
            font-size: 2rem;
        }

            span {
                font-size: 2rem;
            }
        header .primeraParteHeader {
        display: flex; /*activa mas opciones*/
        justify-content: space-between; /*te deja separar los contenidos, row de izquierda a derecha, colum de arriba hacia abajo */
    }
        header .primeraParteIzquierdaHeader {
            width: 40%;
        }
            header .primeraParteHeader img {
                margin-top: 3px;
                margin-left: 3px;
                width: 100%;
            }
        header .primeraParteDerechaHeader {
            width: 55%;
        }
            header .primeraParteDerechaHeader div:nth-child(1) {
                height: 30%;
            }
                header .primeraParteDerechaHeader div:nth-child(1) h1 {
                    margin: 0;
                    margin-top: 30px;
                    padding-left: 3px;
                    color: var(--agris);
                    font-size: 3rem;
                }
                header .primeraParteDerechaHeader div:nth-child(2) h1 {
                    margin: 0;
                    padding-left: 3px;
                    color: var(--claro);
                    font-family: 'Autour One', cursive;
                    font-size: 6.5rem;
                }
                

.nav-bg { /*Background */
    padding: 1rem;
    background-color: var(--Oscuro);
}

    .caja{
        max-width: 120rem;
        font-size: 2rem;
        margin: 0 auto; /*Agusta atomaticamente el margen*/
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
        .caja a {
            margin: 5px;
            width: 12rem;
            padding: 1rem;
            text-align: center;
            border-radius: 5px;
            background-color: white;
            text-decoration: none;
            color: var(--Oscuro);
        }

        .caja a:hover { /*da el efecto cuando estas encima de la caja */
            padding: 1rem;
            background-color: var(--normal);
            color: var(--claro); /*se tiene que poner var() para agarrar las variables definidas */
            text-decoration: none;
        }

        @media (min-widht: 480px) { /*Ajusta el codigo de acuerdo a las medidas de la pantalla */ 
           body{
            background-color:gray ;
           }
        }
        /*Tener Responsabilidad del diseño web con  Media queries */




/*ide # tinen que ser unicos si se ocupa id aca en css se tiene que poner el # 
Especificidad los selectores van es cansada
al menos que tenga un especificador 
. "Despues del titulo se le pone el nombre del target"
para darle mas espeficidad se le pone !important depues del color

    margin-top: 0rem;
    margin-right: auto;
    margin-bottom: 0rem;
    margin-left: auto;
    0 auto*/ 
/*te da el formato para poder editar las imagenes desde css
    [src=imagen.jpg] { 
        color: blue ; 
    }

    .id . clase, se heredan los elemetos del id a los de la clase 
    .clase > p{
        selecciona todo slos parrafos hijos para aplicar el formato de la clase 
        displayblock se muestra hacia abajo 
        displayline se muestra hacia la derecha 
        margin agrega separacion 
        paddin color del fondo 
        felx box te separa los elementos en cajas 
    */ 