/*Seudo selecotres : root*/
:root {
     --claro: #96AAF7;
     --Oscuro: #243575;
     --agris: #485175;
     --normal: #3C57C2;
     --base: #022360;
     --fuentePrincipal: 3.8rem; /*Se puede seleccionar el tamañanao de texto desde aqui */
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px; /* 1rem= 20px*/
    font-family: Arial, Helvetica, sans-serif;
    }


    h1.titulo{
        text-align: center;
        color: blue; 
        font-size: 1.3rem;
        /* ------------------------------------ Cambiar fuente de el texto -------------------------------------------------------- */
        /* font-family: 'Bungee Spice', cursive; */
        font-weight: 1200;
    }

        .titulo span {
            font-size: 2rem;
        }

            span {
                font-size: 2rem;
            }
        header .primeraParteHeader {
        display: flex;
        justify-content: space-between;
    }
        header .primeraParteIzquierdaHeader {
            width: 40%;
        }
            header .primeraParteHeader img {
                margin-top: 3px;
                margin-left: 3px;
                width: 100%;
            }
        header .primeraParteDerechaHeader {
            width: 55%;
        }
            header .primeraParteDerechaHeader div:nth-child(1) {
                height: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
                header .primeraParteDerechaHeader div:nth-child(1) h1 {
                    margin: 0;
                    margin-top: 30px;
                    padding-left: 3px;
                    color: var(--agris);
                    font-size: 3rem;
                }
            header .primeraParteDerechaHeader div:nth-child(2) {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 40px;
            }
                header .primeraParteDerechaHeader div:nth-child(2) h1 {
                    margin: 0;
                    padding-left: 3px;
                    color: var(--claro);
                    font-family: 'Autour One', cursive;
                    font-size: 6.5rem;
                }
                

.nav-bg {
    padding: 1rem;
    background-color: var(--Oscuro);
}

    .caja{
        max-width: 120rem;
        font-size: 2rem;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
        .caja a {
            margin: 5px;
            width: 12rem;
            padding: 1rem;
            text-align: center;
            border-radius: 5px;
            background-color: white;
            text-decoration: none;
            color: var(--Oscuro);
        }

        .caja a:hover {
            padding: 1rem;
            background-color: var(--normal);
            color: var(--claro);
            text-decoration: none;
        }

/* Footer */
#footer h2{
    margin: 1rem;
}
.btn-color-black {
    color: rgba(0, 0, 0, 0.692);
    margin-left: 2rem;
    margin-top: 1rem;
    padding: .5rem 16px;
    border: none;
}

/* Footer */

/*ide # tinen que ser unicos
Especificidad los selectores van es cansada
al menos que tenga un especificador 
. "Despues del titulo se le pone el nombre del target"
para darle mas espeficidad se le pone !important depues del color

    margin-top: 0rem;
    margin-right: auto;
    margin-bottom: 0rem;
    margin-left: auto;
    0 auto*/ 